@import "../../../resources/sass/_fonts.scss";
@import "../../../resources/sass/_colors.scss";

$tablet-size: 1000px;
$side-margins: 10px;

.nav-bar{
    height: 4em;

    .nav-bar-logo{
        position: absolute;
        display: flex;
        top: 0; bottom: 0; left: $side-margins;
        margin: auto;
        width: 50px;
        height: 50px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        a{
            align-self: stretch;
            flex: 1;
        }
    }

    #burger-menu{
        position: absolute;
        top: 0; bottom: 0; right: $side-margins;
        margin: auto;
        display: none;
        cursor: pointer; cursor: hand;

        @media only screen and (max-width: $tablet-size){
            display: inline-block;
        }
    }

    .nav-bar-content{
        display: flex;
        flex: 1;
        height: 100%;
        transition: 0.5s ease-in-out;
        background-color: $blue;

        &.nav-bar-content-active{
            @media only screen and (max-width: $tablet-size){
                height: 100vh;
            }
        }

        nav{
            flex: 1;

            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex: 1;
                padding: 0;
                margin: 0;
                list-style: none;
                height: 100%;

                @media only screen and (max-width: $tablet-size){
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;

                    @media only screen and (max-width: $tablet-size){
                        padding: 0;
                        flex: 1;
                    }

                    a{
                        display: flex;
                        align-items: center;
                        align-self: stretch;
                        text-decoration: none;
                        color: $white;
                        font-family: $open-sans;
                        transition: 0.5s ease-in-out;
                        padding: 0 1em;

                        @media only screen and (max-width: $tablet-size){
                            display: none;

                            &.menu-item-display{
                                display: flex;
                                opacity: 0;
                            }

                            &.menu-item-active{
                                opacity: 1;
                            }
                        }

                        &.menu-item-current-page{
                            color: $gold;
                        }

                        &:hover{
                            @extend .menu-item-current-page;
                        }
                    }
                }

            }

            //the moving bar
            .nav-bar-highlighter{
                position: absolute;
                bottom: 0; left: 0;
                height: 5px;
                background-color: $gold;
                transition: 0.33s ease-in-out;

                //make it disappear on tablets
                @media only screen and (max-width: $tablet-size){
                    display: none;
                }
            }
        }
    }
}
