@import "../../sass/_definitions.scss";

.half-half{
    position: relative;
    display: flex;
    min-height: 10em;

    @media only screen and (max-width: $tablet-size){
      flex-direction: column;
    }

    .right, .left{
        position: relative;
        flex: 1;
        min-width: 50%;
        justify-content: center;
        display: flex;
        min-height: 10em;
    }
}
