@import './_colors.scss';

.link-button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $blue;
    text-decoration: none;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;

    &:hover{
        color: $gold;
    }
}
