@import './_fonts.scss';
@import './_colors.scss';
@import './_mixins.scss';
@import "./_definitions.scss";

*{
    font-family: $open-sans;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
}

.bold-text{
  font-weight: bolder;
}

.vignette{
    -moz-box-shadow: inset 0 0 10em black;
    -webkit-box-shadow: inset 0 0 10em black;
    box-shadow: inset 0 -0 10em black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.blue-background{
  background-color: $blue;
  color: $white;
}

.title-heading{
    font-family: $open-sans;
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    padding: .5em 0;
    // letter-spacing: 0.2em;
    // text-transform: lowercase;
}

.sub-heading{
    font-family: $open-sans;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

header, footer{
    background-color: $blue;
}

header{
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-container{
    transition: margin-top 0.5s ease-in-out;
    min-height: 100vh;
    margin-top: 4em;
}

@media only screen and (max-width: $tablet-size){
    width: 90%;
}

.wpcf7-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    //all of the elemts are stored in paragraph elements?
    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 0;
        width: 100%;
    }

    input, textarea{
        border-radius: 3px;
        border-color: rgba(0,0,0,0.5);
        border-width: 1px;
        width: 100%;
        padding: 10px;
    }

    input[type="submit"]{
        @extend .link-button;
        background-color: $blue;
        width: auto;
        border: 0px;
        align-self: center;
    }

    textarea{
        resize: none;
        border: 0px;
        background-color: rgba(0,0,0,0.1);
    }
}
