@import "../../sass/_definitions.scss";
$border: 1px solid rgba(0, 0, 0, 0.5);

.text-image-component{
    width: 100%;

    //contains all of the content
    .text-image-component-content{
        display: flex;
        max-width: 100%;
        height: 100%;

        //determines which side the image is on
        flex-direction: row;
        &.left{
            flex-direction: row-reverse;
        }

        @media only screen and (max-width: $tablet-size){
          flex-direction: column;
          &.left{
              flex-direction: column-reverse;
          }
        }
    }

    //contains the content that will be half the width of the parent
    .text-image-component-content-part{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        min-height: 15em;
        margin: 20px 0;

        &.text-image-component-text-part{
            flex: 2;
            border-top: $border;
            @media only screen and (max-width: $tablet-size){
              border-top: 0;
            }
        }

        &.text-image-component-image-part{
            flex: 1;
        }
    }

    .text-image-component-image{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    .text-image-component-image, .text-image-component-text{
        width: 90%;
        flex: 1;
    }

    .text-image-component-text{
        word-wrap: break-word;
        width: 75%;

        .text-image-component-title{
            margin: 0 0 10px 0;
            font-size: 2em;
            font-weight: bold;
        }

        .text-image-component-text-content{
            margin: 0;
            max-width: 600px;
        }
    }
}
