<!DOCTYPE html>
<script type="text/javascript" src="{{script}}"></script>
<div class="gallery-component">
    <div class="galley-component-images">{{{images}}}</div>
    <div class="gallery-component-image" style="background-image:url({{image_ref}})"></div>
    <h3 class="gallery-component-title">{{title}}</h3>
</div>
