.gallery-component{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-width: 50%;
    max-width: 50%;
    height: 10em;

    &:hover{
        cursor: pointer;
    }

    .gallery-component-images{
        display: none;
    }
    .gallery-component-image{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 80%;
        height: 80%;
    }
    .gallery-component-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
