@import "../../sass/_definitions.scss";

.gallery-component{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-width: 50%;
    max-width: 50%;

    @media only screen and (max-width: $tablet-size){
        min-width: 100%;
        max-width: 100%;
    }


    &:hover{
        cursor: pointer;
    }

    .gallery-component-images{
        display: none;
    }
    .gallery-component-image{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 80%;
        padding-top: 30%;
    }
    .gallery-component-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
