<!DOCTYPE html>
<div class="heading-component anchor {{classes}}" id="{{title}}" name="{{title}}" title="{{title}}" style="{{inline_styles}}">
    <h3 class="title-heading heading-component-title">{{title}}</h3>
</div>
