@import "../../sass/_definitions.scss";

.partners-spotlight{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .partner{
        margin: 2em 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;

        @media only screen and (max-width: $tablet-size){
            width: 50%;
        }

        @media only screen and (max-width: $phone-size){
            width: 100%;
        }

        .partner-image, .partner-name{
            width: 90%;
        }

        .partner-image{
            height: 10em;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .partner-name{
            text-align: center;
        }
    }
}
