mixin include-css(path)
    if wordpress == false
        link(href=`${path}` rel="stylesheet")
    else if wordpress == true
        -var wordpressPHP = '<?php echo get_template_directory_uri().\''+path+'\'?>'
        |<link href=!{wordpressPHP} rel="stylesheet">
