<!DOCTYPE html>

<div class="who-we-are-person">
  <div class="who-we-are-picture" style="background-image: url({{imageRef}});"></div>
  <h4 class="who-we-are-name">{{name}}</h4>
  <p class="who-we-are-title">{{position}}</p>
  <p class="who-we-are-phone">{{phone}}</p>
  <p class="who-we-are-email">{{email}}</p>
</div>
