<!DOCTYPE html>
<div class="call-to-action">
    <h1 class="title-heading">{{title}}</h1>
    <p class="call-to-action-text">{{content}}</p>
    <div class="call-to-action-button-container">
        {{{button}}}
    </div>
</div>
