<!DOCTYPE html>
<div class="text-image-component anchor" id="{{name}}" name="{{name}}" title="{{title}}">
    <div class="text-image-component-content {{class}}">
        <div class="text-image-component-content-part text-image-component-text-part">
            <div class="text-image-component-text">
                <h1 class="text-image-component-title title-heading">{{title}}</h1>
                <p class="text-image-component-text-content">{{{content}}}</p>
            </div>
        </div>
        <div class="text-image-component-content-part text-image-component-image-part">
            <div class="text-image-component-image" style="background-image: url({{image_ref}})"></div>
        </div>
    </div>
</div>
